//
   Created by twohappy on 2017/3/23.

.container
  .row
    .page-header
      h1 #{title}
  .navbar.navbar-default
    ul.nav.navbar-nav
      li
        a(href="/") 首页
      li
        a(href="/admin/movie") 录入
      li
        a(href="/admin/list") 列表
